<p id="notice"><%= notice %></p>

<h1>Cartegories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Parent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cartegories.each do |cartegory| %>
      <tr>
        <td><%= cartegory.name %></td>
        <td>
            <%if cartegory.parent.present?%>
              <%= cartegory.parent.name %>
              <%else%>
              <%= "None"%>
            <%end%>         
        </td>
        <td><%= link_to 'Show', cartegory %></td>
        <td><%= link_to 'Edit', edit_cartegory_path(cartegory) %></td>
        <td><%= link_to 'Destroy', cartegory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cartegory', new_cartegory_path %>
