<title>Product Manager|Cartegory List</title>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cartegory.name %>
</p>

<p>
  <strong>Parent:</strong>
  <%if @cartegory.parent.present%>
  <%= @cartegory.parent.name %>
  <%else%>
  <%= "None"%>
  <%end%>
</p>

<%= link_to 'Edit', edit_cartegory_path(@cartegory) %> |
<%= link_to 'Back', cartegories_path %>
