<div class = "product_form">
<%= form_with(model: @product, local: true) do |form| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <FIELDSET> 
  <legend>Edit Product Details</legend>
  <div class="field">
    <%= form.label :name, 'Name' %></br>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :parent_id, 'Cartegory'%></br>
    <%= form.grouped_collection_select :parent_id , root_cartegories, :childrens, :name, :id, :name, :prompt => 'Select a cartegory...' %>
  </div>

  <div class="field">
    <%= form.label :price, 'Price' %></br>
    <%= form.text_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  </FIELDSET>
<% end %>
</div>
